---
import Layout from '../layouts/Layout.astro';

const { title = "Over Mij" } = Astro.props
---

<Layout title={title}>
	<div class="mx-auto px-8 md:px-16 py-20 md:py-400 text-center">
	  <h1 class="font-sans text-4xl font-bold mb-4">Over mij</h1>
	  <p class="text-xl pb-4 max-w-screen-lg mx-auto">Vanuit mijn sterke interesse voor sport en beweging koos ik voor de opleiding <span class="font-bold">kinesitherapie</span>, dewelke ik in 2013 met succes afrondde. Met reeds <span class="font-bold">8 jaar ervaring</span> in ziekenhuis en verschillende praktijken, startte ik in september 2021 mijn eigen praktijk te Kortemark: <span class="font-bold" >MOOV Kine</span>.</p>
	  <div data-parallax="scroll" data-image-src="/img/overmij.jpg" data-z-index="100" data-speed="0.9" class="block h-96 mt-12 mb-16"></div>
	  <p class="text-xl pb-4 max-w-screen-lg mx-auto">Als kinesitherapeute heb ik een specifieke interesse in <span class="font-bold">sportrevalidatie</span>, <span class="font-bold">manuele therapie</span> en <span class="font-bold">myofasciale therapie</span>. Als mama van 2 flinke zonen, heb ik ook een grote interesse in alles wat te maken heeft met zwanger zijn, bevallen en het herstel na een bevalling. Je kan bij mij dus ook terecht voor <span class="font-bold">zwangerschapsbegeleiding</span>.</p>
	  <p class="text-xl max-w-screen-lg mx-auto">Hieronder vindt u een overzicht van de <span class="font-bold">opleidingen &amp; bijscholingen</span> die ik reeds volgde:</p>
	  <div class="pt-8 text-left">
		<ul class="text-base py-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4 md:gap-x-4 md:items-stretch">
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Master of science in de Revalidatiewetenschappen en kinesitherapie, afstudeerrichting sportrevalidatie</span>
			<span class="block text-sm text-gray-600">(2013, KU Leuven)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Bijzondere beroepsbekwaamheid Manuele Therapie, postgraduaat Manuele therapie</span>
			<span class="block text-sm text-gray-600">(2014, UGent)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Sportspecifiek letseldetectie- en preventieprogramma</span>
			<span class="block text-sm text-gray-600">(2011, Bloso)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Sporttaping</span>
			<span class="block text-sm text-gray-600">(2012, HUB)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">De schouder bij de sporter – nieuwe inzichten</span>
			<span class="block text-sm text-gray-600">(2015, Brucosport)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Myofasciale therapie (dry needling)</span>
			<span class="block text-sm text-gray-600">(2016, VZW Trigger/BMST)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Spinale segment sensitisatie en technieken van desensitisatie</span>
			<span class="block text-sm text-gray-600">(2017, VZW Trigger/BMST)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Kinecoach&#174; obesitas bij volwassenen, adolescenten en kinderen</span>
			<span class="block text-sm text-gray-600">(2018)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Overzicht van respiratoire kinesitherapeutische technieken bij baby’s</span>
			<span class="block text-sm text-gray-600">(2018, IPG/CF-Belgium)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Masterclass Dry Needling Jan Dommerholt</span>
			<span class="block text-sm text-gray-600">(2018, VZW Trigger/BMST)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Kinecoach&#174; diabetes type 2</span>
			<span class="block text-sm text-gray-600">(2019)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Patellofemoral pain: Hoffa’s fat pad</span>
			<span class="block text-sm text-gray-600">(2020, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Masterclass Subacromiale schouderpijn</span>
			<span class="block text-sm text-gray-600">(2021, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Masterclass Subacromiale schouderpijn</span>
			<span class="block text-sm text-gray-600">(2021, SmartEducation)</span>
		  </li>
		</ul>
	  </div>
	  <p class="text-xl py-8 max-w-screen-lg mx-auto">Zwangerschapsbegeleiding (verschillende opleidingen, 2013-heden)</p>
	  <div class="text-left">
		<ul class="text-base py-4 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-4 md:gap-x-4 md:items-stretch">
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Women’s Health: Van voelend en actief zwanger naar bewust bevallen en moeder zijn</span>
			<span class="block text-sm text-gray-600">(2015, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Zwangerschapsbegeleiding ‘Lief Portael’</span>
			<span class="block text-sm text-gray-600">(2019, ICZO)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">BekkenbodemFit postnataal</span>
			<span class="block text-sm text-gray-600">(2020, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">The pregnant pelvis – Angela James</span>
			<span class="block text-sm text-gray-600">(2020, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">Bekkenbodemproblemen bij vrouwen</span>
			<span class="block text-sm text-gray-600">(2020, SmartEducation)</span>
		  </li>
		  <li class="block px-4 py-4 bg-gray-100 rounded">
			<span class="block pb-2 font-medium">PowerTalk: The Evil Triplets of Female Pelvic Pain: Endometriosis, Interstitial Cystitis & Pudendal Neuralgia</span>
			<span class="block text-sm text-gray-600">(2020, SmartEducation)</span>
		  </li>
		</ul>
	  </div>
	</div>
</Layout>

<style>
/* Styles */
</style>