---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Praktische Info"
  description="Alle praktische informatie over MOOV Kortemark: afspraken maken, tarieven, betalingsmogelijkheden, parking en wat u moet meebrengen naar uw behandeling."
  keywords={[
    "afspraak kinesitherapie Kortemark",
    "afspraak psychologische begeleiding Kortemark",
    "tarieven kinesitherapie",
    "tarieven psychologische begeleiding",
    "gedeconventioneerd",
    "praktische info MOOV",
    "parking Kortemark",
  ]}
>
  <div class="mx-auto px-8 md:px-16 py-20 md:py-40 text-center">
    <h1 class="font-sans text-4xl font-bold pb-20 md:pb-40">Praktische info</h1>

    <div class="max-w-screen-lg mx-auto text-left pb-20">
      <h2 class="text-3xl font-bold mb-4">Afspraak</h2>
      <p class="text-xl mb-4">
        Een behandeling bij MOOV kan enkel na afspraak. Een afspraak maken kan
        telefonisch op <a
          class="underline text-brand-green"
          href="tel:+32475277353">0475/27.73.53</a
        > of <a
          class="underline text-brand-green"
          href="https://bookings.crossuite.app/3fa4d9e3-a2bf-4fb9-986f-d6ac284a2aaa"
          target="_blank">online</a
        >.
      </p>
      <p class="text-xl mb-4">
        Een afspraak maken voor psychologische begeleiding kan telefonisch <a class="underline text-brand-green" href="tel:+32496155832">0496/15.58.32</a>, <a class="underline text-brand-green" href="#">online</a> of via <a class="underline text-brand-green" href="mailto:tracey_cuylle@hotmail.com">e-mail</a>.
      </p>
      <p class="text-xl mb-4"> 
        Indien u niet aanwezig kan zijn op uw afspraak, gelieve dan tijdig
        (ten laatste 24u op voorhand) uw afspraak te annuleren. Dit kan
        telefonisch of via het online platform waar u eerder uw afspraak maakte.
        Laattijdig of niet-geannuleerde afspraken zullen worden aangerekend.
      </p>
      <a
        href="https://bookings.crossuite.app/3fa4d9e3-a2bf-4fb9-986f-d6ac284a2aaa"
        class="inline-block text-sm font-bold px-6 py-4 leading-none border rounded text-white bg-brand-green hover:bg-brand-green-dark mt-4 lg:mt-0"
        target="_blank">Maak een afspraak</a
      >
    </div>

    <div class="max-w-screen-lg mx-auto text-left pb-20">
      <h2 class="text-3xl font-bold mb-4">Wat brengt u mee</h2>
      <ul class="text-xl list-disc list-inside">
        <li>Identiteitskaart</li>
        <li>Geldig medisch voorschrift (niet ouder dan 2 maanden)</li>
        <li>Onderzoeksresultaten zoals RX, MRI,…</li>
        <li>Losse, comfortabele kledij</li>
      </ul>
    </div>

    <div class="max-w-screen-lg mx-auto text-left pb-20">
      <h2 class="text-3xl font-bold mb-4">Tarief</h2>
      <h3 class="text-xl mb-4 font-bold">
        Tarieven kinesitherapie: 
      </h3>
      <p class="text-xl mb-4">
        Alle kinesitherapeuten in deze praktijk zijn <strong
          >gedeconventioneerd</strong
        >. We werken met één vast tarief:
      </p>
      <ul class="text-xl list-disc list-inside mb-4">
        <li>Behandeling in de praktijk: &euro;34</li>
        <li>Huisbezoek: &euro;37</li>
      </ul>
      <p class="text-xl mb-8">
        Mensen met recht op een verhoogde tegemoetkoming vallen wel onder de
        tarieven die vastgelegd worden door het RIZIV, deze <a
          class="underline text-brand-green"
          href="https://axxon.be/ckfinder/userfiles/files/Conventie/Tarievenposter%202021-%20Geconventioneerde%20kinesitherapeuten%20-%20NL%20-%20Januari%202021.pdf"
          target="_blank">vind u hier</a
        >
      </p>
      <h3 class="text-xl mb-4 font-bold">
        Tarieven psychologische begeleiding: 
      </h3>
      <ul class="text-xl list-disc list-inside mb-4">
        <li>Intake &euro;80</li>
        <li>Vervolgsessie: &euro;60</li>
      </ul>
    </div>

    <div class="max-w-screen-lg mx-auto text-left pb-20">
      <h2 class="text-3xl font-bold mb-4">Betaling</h2>
      <p class="text-xl mb-4">
        Betaling kan (bij voorkeur) met Bancontact in de praktijk, via
        Bancontact app/Payconic of via overschrijving.
      </p>
    </div>

    <div class="max-w-screen-lg mx-auto text-left pb-20">
      <h2 class="text-3xl font-bold mb-4">Parking</h2>
      <p class="text-xl mb-4">
        De praktijk beschikt over 2 eigen parkeerplekken. Daarnaast is er
        voldoende parkeermogelijkheid in de onmiddellijke omgeving. Er is een
        fietsenrek voorzien voor wie met de fiets komt. Gelieve de inrit van de
        woning te allen tijde vrij te houden en uw auto of fiets achter te laten
        op de daarvoor voorziene plekken.
      </p>
    </div>

    <div class="max-w-screen-lg mx-auto text-left">
      <h2 class="text-3xl font-bold mb-4">
        Adresgegevens toezichthoudende autoriteit
      </h2>
      <p class="text-xl mb-4">
        Provinciale Geneeskundige Commissie West-Vlaanderen <br />Koning Albert
        I Laan 1, bus 1 <br />8200 Brugge
      </p>
    </div>
  </div>
</Layout>
