---
import Bars3 from "astro-heroicons/solid/Bars3.astro";
import XMark from "astro-heroicons/solid/XMark.astro";
---

<header>
	<nav class="border-b p-6 bg-white">
	  <div class="xl:container xl:mx-auto flex items-center justify-between flex-wrap">
		<div class="flex items-center flex-shrink-0 mr-6 h-16">
		  <a href="/"><img src="/logo.svg" alt="logo" class="object-contain h-16"></a>
		</div>
		<div class="block xl:hidden">
		  <button class="menu-btn flex items-center p-4 rounded text-white bg-sky-600 hover:bg-sky-700">
			<Bars3 class="bars h-6" />
			<XMark class="xmark h-6 hidden"/>
		  </button>
		</div>
		<div class="menu w-full block xl:flex xl:items-center xl:mt-0 xl:w-auto hidden">
		  <div class="text-xs tracking-wider">
			<a href="#" class="block xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Wie is Nieke?</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Wat is podologie?</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Doelgroepen</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Behandelingen</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Diabeteseducatie</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Terugbetaling</a>
			<a href="#" class="block mt-4 xl:inline-block xl:mt-0 hover:text-sky-900 font-normal uppercase text-sky-700 mr-8 ">Contact</a>
		  </div>
		</div>
	  </div>
	</nav>
  </header>

  <script>

	const menu_button = document.querySelector('.menu-btn');
	const menu = document.querySelector('.menu');
	const bars = document.querySelector('.bars');
	const xmark = document.querySelector('.xmark');
	
	menu_button!.addEventListener('click', () => {
		console.log("menu")
		menu!.classList.toggle("p-6");
		menu!.classList.toggle("mt-6");
		menu!.classList.toggle("xl:p-0");
		menu!.classList.toggle("bg-gray-100");
		menu!.classList.toggle("xl:bg-white");
		menu!.classList.toggle("hidden");
		bars!.classList.toggle("hidden");
		xmark!.classList.toggle("hidden");
	});

  </script>